<h2 class="page-header">New Book</h2>
<form action="/books" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row">
    <div class="form-item form-item-no-grow">
      <label>Cover</label>
      <input type="file" name="cover" class="book-cover filepond" required>
    </div>
    <div class="form-item">
      <label>Description</label>
      <textarea name="description"><%= book.description %></textarea>
    </div>
  </div>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>